.nav{
    display: flex;
    flex-direction: column;
 margin-top: 80px;


       
        left: 0;
        /* Прив'язка до правого краю */
}
.infoFilm {
    
}
.img {margin-top: 20px;
margin-right: 20px;
}
.info{
    font-size: 20px;
}
.block {
  display: flex;  
}